/* Whole document: */

body{
  font-family: helvetica, sans-serif;
  font-size: 12pt;
}
/* Headers */
h1{
  font-size: 24pt;
}

h2{
  font-size: 22pt;
}

h3{
  font-size: 20pt;
}


h4{
  font-size: 18pt;
}

h5{
  font-size: 16pt;
}

h6{
  font-size: 14pt;
}

.sidebar nav[role="doc-toc"] ul > li > a.active {
    color: #fff !important;
    background-color: #066;
}


.b--gray { 
  border-color: #888888;
}
.ba {
  border-style: solid;
}
.bw2 {
  border-width: .25em;
}
.ma2 {
  margin: 1.5em;
}
.pa4 {
  padding: 2em;
}
.shadow-1 {
  box-shadow: 4px 4px 8px 0 rgba(0,0,0,.2);
}
